<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.convert2gif.boot"
    android:versionCode="1"
    android:versionName="1.0.0-beta">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Convert2GIF"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>